body, html {
    height: 100%;
}

/* Frame */
.frame {
    margin: 0 22px 0 0;
    height: 100%;
}

/* Images */
.thumbnail {
    background-color: beige;
    height: 170px;
    width: 170px;
    margin: 10px;
    min-width: 190px;
    border: 0px;
}

.bookDetail {
    background-color: beige;
    margin: 10px;
    width: 535px;
}

.dl-horizontal dd {
    margin-right: 10px;
}

img {
    vertical-align: middle
}